@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	--color-primary: rgb(19, 19, 29);
	--color-primary-dark: rgb(9, 9, 14);
	--color-primary-light: rgb(34, 34, 53);
	--color-secondary:  rgb(58, 0, 218);

	--color-text : rgb(99, 99, 131);
	--font : 'Roboto', sans-serif;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--color-text);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font);
	background-color: var(--color-primary);
}